{% extends "base.html" %}
{% set author = item %}

{% block page_title %}
	{% if current_user and current_user.is_authenticated %}
		Edit author
	{% else %}
		{{ author }}
	{% endif %}	| PromLibrary
{% endblock %}
{% block body_class %}p-author-detailview{% endblock %}

{% block content %}

	<div class="body-content">

		{% if current_user and current_user.is_authenticated %}

				<div class="item-form">
					<form action="{{ action }}" method="post">
						<fieldset>
							{% if operation %}							
								{% if operation == "new" %}
									<legend>Add new author:</legend>
								{% endif %}
							{% else %}
								<legend>Edit author details:</legend>
							{% endif %}

							{% for field in form %}
								<div class="form-group">
							    	{{ field.label }}
							    	{{ field(class="form-control selectize") }}
							    </div>
						    {% endfor %}

						    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
							<a href="#" data-href="{{ path +'delete/'+ action.split('/')[-2]}}" class="btn btn-danger item-delete"><i class="fa fa-trash"></i> Delete</a>
						</fieldset>
					</form>
				</div>
		{% else %}

		<h1>
			{{ author }}
		</h1>

			{% if author.books %}
				<ul class="list-grid-view">
					{% for book in author.books %}
						<li class="books-author">
							<a href="/books/{{ book.id }}/">
								<h4>
									{{ book }}
								</h4>
							</a>
						</li>
					{% endfor %}
				</ul>
			{% else %}
				<p>
					Author appends these books and they will soon be available here. Please come later.
				</p>
			{% endif %}

		{% endif %}
	</div>


{% endblock %}