{% extends "base.html" %}
{% set authors = obj %}

{% block page_title %}Authors | PromLibrary{% endblock %}
{% block body_class %}p-author-listview{% endblock %}

{% block content %}

	<div class="body-content">

		{% if authors %}
			{% if current_user and current_user.is_authenticated %}
				<a class="btn btn-primary" href="{{path + 'new'}}">Add new author</a>
			{% endif %}

			<h1 class="text-center">Authors</h1>
			<ul class="list-grid-view">
				{% for author in authors %}
					<li>
						<a href="{{path + author.id|string}}">
							<h4>{{author}}</h4>
						</a>

						{% if current_user and current_user.is_authenticated %}
							<a href="#" data-href="{{path +'delete/'+ author.id|string}}" class="btn btn-danger item-delete"><i class="fa fa-trash"></i></a>
						{% endif %}
					</li>
				{% endfor %}
			</ul>

			<hr>
			<div class="pagination-block">
				{{ pagination.info }}
				{{ pagination.links }}
			</div>

		{% else %}
			No data :(
		{% endif %}

	</div>

{% endblock %}