{% extends "base.html" %}
{% set books = obj %}

{% block page_title %}Books | PromLibrary{% endblock %}
{% block body_class %}p-book-listview{% endblock %}

{% block content %}

	<div class="body-content">

		{% if books %}
			{% if current_user and current_user.is_authenticated %}
				<a class="btn btn-primary" href="{{path + 'new'}}">Add new book</a>
			{% endif %}

			<h1 class="text-center">Books</h1>
			<ul class="list-grid-view">
				{% for books in books %}
					<li>
						<a href="{{path + books.id|string}}">
							<h4>{{books}}</h4>
						</a>

						{% if current_user and current_user.is_authenticated %}
							<a href="#" data-href="{{path +'delete/'+ books.id|string}}" class="btn btn-danger item-delete"><i class="fa fa-trash"></i></a>
						{% endif %}
					</li>
				{% endfor %}
			</ul>

			<hr>
			<div class="pagination-block">
				{{ pagination.info }}
				{{ pagination.links }}
			</div>

		{% else %}
			We have not yet add book to the library. Come back later :(
		{% endif %}

	</div>

{% endblock %}