{% extends "base.html" %}
{% set book = item %}

{% block page_title %}
	{% if current_user and current_user.is_authenticated %}
		Edit book
	{% else %}
		{{ book }}
	{% endif %}	| PromLibrary
{% endblock %}
{% block body_class %}p-book-detailview{% endblock %}

{% block content %}

	<div class="body-content">

		{% if current_user and current_user.is_authenticated %}

				<div class="item-form">
					<form action="{{ action }}" method="post">
						<fieldset>
							{% if operation %}
								{% if operation == "new" %}
									<legend>Add new book:</legend>
								{% endif %}
							{% else %}
								<legend>Edit book details:</legend>
							{% endif %}

							{% for field in form %}
								<div class="form-group">
							    	{{ field.label }}
							    	{{ field(class="form-control selectize") }}
							    </div>
						    {% endfor %}

						    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
							<a href="#" data-href="{{ path +'delete/'+ action.split('/')[-2]}}" class="btn btn-danger item-delete"><i class="fa fa-trash"></i> Delete</a>
						</fieldset>
					</form>
				</div>
		{% else %}

			<h1>{{ book }}</h1>
				{% if book.authors %}
					<ul class="list-grid-view">
						{% for author in book.authors %}
							<li class="author-books">
								<a href="/authors/{{ author.id }}/">
									<h4>
										{{ author }}
									</h4>
								</a>
							</li>
						{% endfor %}
					</ul>
				{% else %}
					One or few anonimous authors write it :)
				{% endif %}
		{% endif %}
	</div>


{% endblock %}