{% extends "base.html" %}

{% block body_class %}p-home{% endblock %}

{% block header %}
	<div class="title">
		<h2>
			Explore, study, review
		</h2>
		<p>
			PythonLibrary is the first 40 books on Python programming language, according to the Google Books API that it would be nice to read
		</p>
	</div>
{% endblock %}

{% block content %}

  <h3>Hot New Releases in Books</h3>

	{% if newest_books %}
	<ul class="list-grid-view">
		{# Hardcode is bad idea, fix it later #}
		{% for book in newest_books %}
			<li>
				<a href="{{ url_for('library.books') }}{{ book.id }}/">
					<h4>
						{{ book.title }}
					</h4>
				</a>
			</li>
		{% endfor %}	
	</ul>
	{% endif %}

{% endblock %}