{% extends "base.html" %}

{% block content %}
	<div class="search-results">
		<h1>Search Results</h1>
		<ul>
			{% if search_results %}
				<p>
					For "{{ query }}" Finded {{ search_results|length }} books:
				</p>

				{% for book, author in search_results %}
					<li>
						<a href="/books/{{ book.id }}">{{ book.title|e }}</a>
						({{ book.id }}) ({{ author.name }} : {{ author.id }})
					</li>
				{% endfor %}
			{% else %}
				<p>
					<h3>Nothing to find for "{{ query }}".</h3>
					<p>Try to change your search query or go to mainpage.</p>
					<a href="javascript:window.history.back()">Go back</a>
				</p>
			{% endif %}
		</ul>
	</div>
{% endblock %}