<footer>
  <div class="container">
    <div class="row">
      <small>
      <ul class="company">
        <li>© Sergey Soroka</li>
      </ul>
        <ul class="footer-nav">
          <li><a href="{{ url_for('library.books') }}">Books</a></li>
          <li><a href="{{ url_for('library.authors') }}">Authors</a></li>
          <li><a href="mailto:serj.soroka@gmail.com">Contact</a></li>
        </ul>
      </small>
    </div>
  </div>
</footer>
