<nav class="b-head-control-panel" role="navigation">
  <div class="container">

  <div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
	  <span class="sr-only">Toggle navigation</span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="{{ url_for('library.home') }}">
		<i class="fa fa-book"></i> PythonLibrary
	</a>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
	<ul class="nav navbar-nav">
	  <li><a href="{{ url_for('library.books') }}">Books</a></li>
	  <li><a href="{{ url_for('library.authors') }}">Authors</a></li>
	</ul>


{% if search_form %}
	  <ul class="nav navbar-nav">
		<form id="SearchForm" method="POST" class="navbar-form form-inline navbar-right" action="{{ url_for('library.search') }}" role="search">
		  {{ search_form.hidden_tag() }}
		  <div class="form-group nav-search">
			{{ search_form.search(placeholder="Search", class_="form-control") }}
			{{ search_form.search_by(class_="form-control") }}
			{{ search_form.submit(value="Search", class_="form-control") }}
		  </div>
		</form>
	 </ul>
{% endif %}
 
{% if current_user and current_user.is_authenticated %}
	<ul class="nav navbar-nav navbar-right">
		<li><p class="navbar-text"><a class="navbar-link" href="{{ url_for('user.login') }}">Logged in as {{ current_user.username }}</a></p></li>
		<li><a class="navbar-link" href="{{ url_for('user.logout') }}"><i class="fa fa-sign-out"></i></a></li>
	</ul>
{% elif login_form %}


	{% if login_form %}
		<ul class="nav navbar-nav pull-right">
		  <li class="dropdown" id="menuLogin">
				<a href="#" data-toggle="dropdown"><i class="fa fa-user"></i> Login <span class="caret"></span></a>
				<div class="dropdown-menu" style="right: 0px; left: auto; padding: 2rem; width: 300px;">
					<div class="col-sm-12">
						<form id="loginForm" method="POST" class="form-horizontal" action="{{ url_for('user.login') }}" role="login">
							<div class="form-group">
								{{ login_form.hidden_tag() }}
							</div>
							<div class="form-group">
								{{ login_form.username.label }}
								{{ login_form.username(placeholder="Username", class_="form-control") }}
							</div>
							<div class="form-group">
								{{ login_form.password.label }}
								{{ login_form.password(placeholder="Password", class_="form-control") }}
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-default"><i class="fa fa-rocket"></i> Log in</button>
							</div>
						</form>
					</div>
					<div class="col-sm-12">
						<hr>
					<div>
					<div>
						<a href="{{ url_for('user.register') }}" class="btn btn-success"><i class="fa fa-user-plus"></i> Create account</a>
						<p class="small">Only registred users can edit this library.<br> Take it and do!</p>
					</div>
				</div>
		  </li>
		</ul>
	{% endif %}

{% endif %}
  </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
