//**
// 12 Column Responsive Grid
//**

.container {
  margin: 0 auto;
  max-width: $container-max-width;
  width: 100%;
  padding: 0 3rem;
}

.row {
  flex-direction: column;
}




// Grid columns are stacked until the display size is greater than min-width
@include mobilefirst($small-break) {

  $unit: 6.2056333%; // Width of each grid column unit
  $margin: 2.1277%; // Margin between the grid columns

  .container {
    // padding: 0 40px;
  }

  .row {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -$margin;

  }

  @for $i from 1 through $columns {
    .cell-#{$i} {
      flex: 0 0 auto;
      flex-basis: ($unit * $i) + ($margin * ($i - 1));
      margin-left: $margin;
      max-width: ($unit * $i) + ($margin * ($i - 1));
    }

    .offset-#{$i} {
      margin-left: ($unit * $i) + ($margin * ($i + 1)) !important;
    }
  }
}
