$base-green: #009190;
$base-green-dark: #004d4c;

html {
	font-size: 62.5%;
	overflow-y: scroll;
}

body {
	// padding-top: 60px;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 1.4em;
	font-style: normal;
	font-weight: 400;
	line-height: 1.6;
	color: #333;
	background-color: #efefec;
}

a {
	color: $base-green;
	&:hover {
		color: #004d4c;
	}
	&:focus {
		outline: none;
	}
}


section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.container-narrow {
	margin: 0 auto;
	max-width: 700px;
}

.navbar-form input {
	&[type="text"], &[type="password"] {
		width: 180px;
	}
}

header {
	nav {
	    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
	    border-bottom: 1px solid rgb(221, 221, 221);
	    color: rgb(51, 51, 51);
	    a {
	    	color: $base-green;
	    	&:hover {
	    		color: $base-green-dark;	
	    	}
	    }
	}
}

.form-register {
	width: 50%;
	.form-control {
		position: relative;
		font-size: 16px;
		height: auto;
		padding: 10px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}

header {
	margin-bottom: 60px;
}

.p-home .list-grid-view {
	margin-top: 0;
}

.p-home {
	h3 {
		text-align: center;
		margin: 5rem auto 0rem;
	}
	header {
		margin: 0;
		background-image: url('../img/bg.jpg');
		height: 350px;
		background-size: cover;
		nav {
			background-color: transparent;
			border-color: transparent;
			a {
				color: #fff;
				&:hover {
					color: #777;
				}
			}
		}

		.title {
		    color: #fff;
		    padding-top: 8rem;
		    text-align: center;
		}
	}
}


.nav-search {
	background: #fff;
	input#search {
	    width: 180px;
	    &:focus {
	    	box-shadow: none;
	    }
	}
	input#search,
	select#search_by,
	input#submit {
	    border-radius: 0px;
	    border: 1px solid transparent;
	}
	input#submit {
	    background: #08c;
	    color: #fff;
	    width: 100px;
	    border-color: #08c;
	    margin: 1px;
		box-shadow: none;
		border-bottom: 1px solid #ddd;

	    &:hover {
		    background: #06c;
	    }
	}
}


.list-grid-view {
  list-style-type: none;
  display: table;
  width: 100%;
  margin: 5rem auto 0px;
  position: relative;
  li {
	display: block;
	width: 200px;
	height: 300px;
	margin: 6rem 3rem;
	padding: 0;
	box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.25);
	background-color: #A4C19E;
	border-radius: 3px;
	background-image: url("../img/book_thumb_cover.jpg");
	background-size: 100% auto;
	float: left;
	text-align: center;
	background-size: cover;
    &:hover {
      box-shadow: 0px 10px 15px 5px rgba(0, 0, 0, 0.35);
      h4 {
        text-decoration: underline;
      }
    }
    a {
      width: 100%;
      color: #fff;
      display: table;
      &:hover {
        text-decoration: none;
      }
      &.item-delete {
	    position: relative;
	    width: 8rem;
	    display: block;
	    margin-top: -3rem;
	    margin-left: 1rem;
      }
    }
    h4 {
    	color: #904C18;
	    font-size: 2rem;
	    font-family: Georgia, Times, "Times New Roman", serif;
	    text-align: center;
	    font-weight: normal;
	    padding: 0px 15px;
	    text-shadow: none;
	    display: table-cell;
	    width: 100%;
	    overflow-x: hidden;
	    overflow-y: visible;
	    vertical-align: middle;
	    height: 290px;
    }
    span {
      text-align: center;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      color: #fff;
      text-transform: uppercase;
      display: block;
      position: relative;
      i {
        font-size: 10px;
        opacity: 0.5;
        font-style: normal;
      }
    }
  }
}

.p-author-listview .list-grid-view h4 {
	color: #333;
	text-shadow: none;
}

.list-grid-view li.author-books,
.p-author-listview .list-grid-view li {
	background-image: url('../img/author_thumb_cover.jpg');
}

.pagination {
    margin: 2rem auto 0px;
    display: table;
    text-align: center;
	&-page-info {
		text-align: center;
	}
}

.sticky-message {
	display: table;
    z-index: 99999;
    position: fixed;
    width: 100%;
    margin: 1rem auto;
    padding: 0;
    .alert-message {
    	background: #08c;
    	color: #fff;
    }
}

footer {
	background: #fff;
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #999999;
	a {
		color: #999999;
	}
	p {
		float: right;
		margin-right: 25px;
	}
	ul {
		list-style: none;
		li {
			float: left;
			margin-left: 10px;
		}
	}
	.company {
		float: left;
		margin-left: 25px;
	}
	.footer-nav {
		float: right;
		margin-right: 25px;
		list-style: none;
	}
}