//**
// Typography
//**

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: $base-font-size;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  color: #333;
}

blockquote {
  border-left: 2.0rem solid $primary-color;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 1.4em;
  font-style: italic;
  font-weight: 400;
  margin: 0 0 $padding/2;
  padding-left: 2.5rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0;
  letter-spacing: -0.1rem;
}

h1 {
  font-size: 5rem;
  font-style: normal;
  font-weight: 200;
}

h2 {
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 200;
}

h3 {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 200;
}

h4 {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
}

h5 {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
}

p {
  margin: 0 0 $padding/2;
}

ul {
  margin: 0;
}

pre {
  background: #222;
  color: #fff;
  display: block;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 1.3rem;
  line-height: 2.0rem;
  margin: 0 0 $padding/2;
  padding: 1.0rem;
  word-break: break-all;
  word-wrap: break-word;
}

code {
  border-radius: .5rem;
  background: #f5f5f5;
  border: 1.0rem solid rgba(0, 0, 0, .1);
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 1.3rem;
  line-height: 2.0rem;
  padding: 2.0rem 1.0rem;
  word-break: break-all;
  word-wrap: break-word;
}

a {
  color: $primary-color;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}





// Responsive styles if needed
// @include responsive($big-break) {
// }
@include responsive($small-break) {
  body {
    font-size: 1.4rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-bottom: 1.0rem;
  }

  h1 {
    font-size: 2.6rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  h4,
  h5,
  p,
  ul,
  ol {
    font-size: 1.4rem;
  }
}

// Mobile first styles if needed
// @include mobilefirst($big-break) {
// }
// @include mobilefirst($small-break) {
// }
