<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>{% block page_title %}
  
    PythonLibrary
  
    {% endblock %}
  </title>
  <meta name="description" content="{% block meta_description %}{% endblock %}">
  <meta name="author" content="{% block meta_author %}{% endblock %}">

  <!-- Mobile viewport optimized: h5bp.com/viewport -->
  <meta name="viewport" content="width=device-width">

  {% assets "css_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

  {% assets "js_all" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}


  {% block css %}{% endblock %}

  {% block head_scripts %}{% endblock head_scripts %}
  {% block head_styles %}{% endblock head_styles %}


  {# Analytics script #}
  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(["setDomains", ["*.sergey.so","*.prom.sergey.so"]]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//stats.sergey.so/";
      _paq.push(['setTrackerUrl', u+'analytics.php']);
      _paq.push(['setSiteId', 5]);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <noscript><p><img src="//stats.sergey.so/analytics.php?idsite=5" style="border:0;" alt="" /></p></noscript>

</head>
<body class="{% block body_class %}{% endblock %}">
{% block body %}


{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="row sticky-message">
  <div class="col-md-12">
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
      <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
     {{message}}
    </div><!-- end .alert -->
    {% endfor %}
  </div><!-- end col-md -->
</div><!-- end row -->
    {% endif %}
{% endwith %}


<header>
   {% with form=form %}
     {% include "_partial/nav.html" %}
   {% endwith %}
  {% block header %}{% endblock %}
</header>
<div class="{% block content_class %}container{% endblock content_class %}">

  <div role="main">
    {% block content %}{% endblock %}
  </div>

</div><!-- end container -->

{% include "_partial/footer.html" %}

<!-- JavaScript at the bottom for fast page loading -->
{% block js %}{% endblock %}
<!-- end scripts -->
{% endblock %}
</body>
</html>